.paginator {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " . prev number next .";
    grid-gap: 10px;
    cursor: pointer;
    margin: 3rem 0 0 0;
    text-align: center;
}

.prev {
    grid-area: prev;
    position: relative;
}

.next {
    grid-area: next;
    position: relative;
}

.pageNumbers {
    grid-area: number;
    font-family: "Comfortaa";
    font-weight: 300;
    margin: auto;
}

.paginator button {
    cursor: pointer;
    margin: 0 auto;
    height: 2rem;
    width: 2rem;
    border: 2px solid rgba(168, 149, 149, 0.801);
    border-radius: 20%;
    background-color: rgba(75, 140, 156, 0.2);
    transition: all 0.2s ease 0s;
}

.paginator button:active {
    background-color: rgba(75, 140, 156, 0.8);
    transform: scale(0.8);

}

.paginator img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 1.5rem;
}

.pageNumber {
    font-size: 1.5rem;
    padding: 0.1rem 0.6rem;
    border: 1px solid grey;
    background-color: rgba(75, 140, 156, 0.2);
    border-radius: 20%;
    margin: 0 5px;
}

.pageNumber.selectedPage {
    font-weight: 700;
    border: none;
    background-color: burlywood;
}
