.Fotter {
    grid-area: fotter;
    background-color: rgb(223, 209, 209);
    z-index: 3;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto);
    font-size: 17px;
    font-family: 'Roboto';
}

.logo {
    margin: 10px auto;
    color: #000;
    text-decoration: none;
}

.logo img {
    position: relative;
    left: 40%;
}

.logo h4 {
    margin: 0;
}

.Fotter a img {
    width: 30px;
}

.info summary {
    display: block;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1.5px solid #000000b7;;
    margin: 25px 10px 60px 10px;
    padding-bottom: 1px;
    cursor: pointer;
    position: relative;
    color: #000;
}

details > summary::-webkit-details-marker {
    display: none;
  }

summary::marker {
    font-size:0px
  }

summary::before {
    position: absolute;
    right: 0;
    bottom: 3px;
    content: '∟';
    transform: rotate(-45deg);
    color: #000000b7;
    transition: 0.7s all;
  }

details[open] summary::before {
    transform: rotate(-225deg);
    bottom: -5px;
    color: #000000b7;
}

.contacts {
    text-align: start;
}

.contacts summary {
    text-align: center;
}

.contacts div div{
    margin: 10px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.pay {
    text-align: center;
    font-weight: 200;
}

.pay p {
    margin: 20px 0 0 0;
}

.pay img {
    width: 70px;
    object-fit: cover;
    margin: 10px 5%;
}

.social {
    margin: 20px auto ;
}

.social a {
    margin: 0 5px;
}

.bottom {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    margin-bottom: 15px;
}

.bottom span {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}

.bottom img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 3840px) {

    .logo {
        display: none;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 767px) {

    .container {
        padding: 0 50px;
    }

    .logo {
        display: grid;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
    }

    .info summary {
        margin: 25px 10px;
    }

    .bottom img {
        display: none;
    }

}