.app-wrapper {
    /* position: absolute; */
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "fotter";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr auto;
    background-color: #dfd1d1b3;
    overflow: hidden;

}

.wraper-content {
    min-height: 85vh;
    max-height: 100%;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    grid-area: content;
    padding: 0;
}

@media screen and (max-width: 767px) {

    .app-wrapper {
        grid-template-rows: 40px minmax(auto, 100%) auto;
    }

    .wraper-content {
        max-width: 767px;
    }
}